.confirm-delete-popup{
    display: none;
}

.confirm-delete-popup.active{
    display: flex;
    position: absolute;
    top:30%;
    left: 30%;
    width: 40%;
    border-radius: 5%;
    padding: 2%;
    background-color: rgb(247, 242, 242);
}