<div class="container" style="margin-top: 2%;">
  <div class="d-flex" style="margin-bottom: 2%;">
    <input class="form-control" type="number" placeholder="Search" aria-label="Search" [(ngModel)]="search">
    <button type="button" class="btn btn-outline-info ml-3" (click)="searchClaimsById()">
      <i class="bi bi-search"></i>
      Search By Id
    </button>
    <button type="button" class="btn btn-outline-info ml-3" (click)="searchClaimsByPatientId()">
      <i class="bi bi-search"></i>
      Search By PatientId
    </button>
    <button type="button" class="btn btn-outline-info ml-3" (click)="getClaimsByCompanyId()">
      <i class="bi bi-arrow-clockwise"></i>
    </button>
  </div>
  <table class="table mt-10% table-hover table-bordered text-center">
    <thead class="thead-dark">
      <tr>
        <th>#claimId</th>
        <th>Claim Amount</th>
        <th>Claim Status</th>
        <th>Patient</th>
        <th>Plan</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let claim of claimList">
        <td>{{claim.claimId}}</td>
        <td>{{claim.claimAmount}}</td>
        <td [ngStyle]="{'color': getStatusColor(claim.claimStatus)}">{{claim.claimStatus}}</td>
        <td>
          <button type="button" class="btn btn-info" (click)="showPatientModel(claim.claimId)"><i
              class="bi bi-info-circle"></i></button>
        </td>
        <td>
          <button type="button" class="btn btn-info" (click)="showPlanModel(claim.claimId)"><i
              class="bi bi-info-circle"></i></button>
        </td>
        <td>
          <div [ngStyle]="{'display': getDisplayActionButton(claim.claimStatus)}">
            <button type="button" class="btn btn-success" (click)="confirmApprove(claim.claimId)">
              <i class="bi bi-bag-check"></i>
              Approve
            </button> /
            <button type="button" class="btn btn-danger" (click)="confirmReject(claim.claimId)">
              <i class="bi bi-bag-x"></i>
              Reject
            </button>
          </div>
          <div [ngStyle]="{'display': getDisplayActionText(claim.claimStatus)}">
            No Action Required
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--Plan Form Modal -->
<div id="showPlanModel" class="planDisplay">
  <div style="width: 60%; margin-left: auto; margin-right: auto;">
    <div class="form-group">
      <label for="PlanId">Plan Id:</label><br>
      <input type="number" class="form-control" id="PlanId" readonly [value]="plan.planId">
    </div>
    <div class="form-group">
      <label for="PlanName">Plan Name:</label><br>
      <input type="text" class="form-control" id="PlanName" readonly [value]="plan.planName">
    </div>
    <div class="form-group">
      <label for="descriptionOfPlan">Description Of Plan: </label>
      <textarea style="resize: none;" class="form-control" id="descriptionOfPlan" readonly
        [value]="plan.description"></textarea>
    </div>
    <div class="form-group">
      <label for="dateOfIssue">Date Of Issue:</label>
      <input type="text" class="form-control" id="dateOfIssue" readonly [value]="plan.dateOfIssue">
    </div>
    <div class="form-group">
      <label for="PlanAmount">Plan Amount:</label>
      <input type="number" class="form-control" id="PlanAmount" readonly [value]="plan.coverageAmount">
    </div>
  </div>
  <button type="button" style="position: absolute; top: 0%; right: 0%;" class="btn btn-danger"
    (click)="closePlanModel()">
    <i class="bi bi-x-circle"></i>
  </button>
</div>

<!--Patient Form Modal -->
<div id="showPatientModel" class="patientDisplay">
  <div style="width: 60%; margin-left: auto; margin-right: auto;">
    <div class="form-group">
      <label for="patientId">Patient Id :</label><br>
      <input type="number" class="form-control" id="patientId" readonly [value]="patient.patientId">
    </div>
    <div class="form-group">
      <label for="patientName">Patient Name :</label>
      <input type="text" class="form-control" id="patientName" readonly [value]="patient.patientName">
    </div>
    <div class="form-group">
      <label for="patientName">Patient Gender :</label>
      <input type="text" class="form-control" id="patientName" readonly [value]="patient.patientGender">
    </div>

    <div class="form-group">
      <label for="dob">Date Of Birth :</label><br>
      <input type="date" class="form-control" id="dob" readonly [value]="patient.dob">
    </div>
    <div class="form-group">
      <label for="contact">Contact : </label>
      <input type="tel" class="form-control" id="address" readonly [value]="patient.contact">
    </div>
    <div class="form-group">
      <label for="address">Address :</label>
      <input type="text" class="form-control" id="address" readonly [value]="patient.address">
    </div>

    <div class="form-group">
      <label for="descriptionOfTreatment">Description Of Treatment :</label>
      <input type="text" class="form-control" id="descriptionOfTreatment" readonly
        [value]="patient.descriptionOfTreatment">
    </div>
    <div class="form-group">
      <label for="email">Email :</label>
      <input type="text" class="form-control" id="email" readonly [value]="patient.email">
    </div>
  </div>
  <button type="button" style="position: absolute; top: 0%; right: 0%;" class="btn btn-danger"
    (click)="closePatientModel()">
    <i class="bi bi-x-circle"></i>
  </button>
</div>

<!-- Approve Model -->
<div class="confirm-approve-popup" id="confirmApproveDisplay">
  <form #purchaseForm="ngForm" (ngSubmit)="submitApprove()">
    <label style="display: block;">Please confirm your action by typing "APPROVE" below: </label>
    <input type="text" style="margin: 2%; width: 82%;" name="confirmation" [(ngModel)]="confirmApproveInput" required>
    <div>
      <button type="submit" class="btn btn-success" style="margin-right: 2%; margin-top: 2%; width: 40%;"
        [disabled]="confirmApproveInput !== 'APPROVE'">Confirm Approval</button>
      <button type="button" class="btn btn-danger" style="width: 40%; margin-top: 2%;"
        (click)="closeApproveModel()">Cancel</button>
    </div>
    <button type="button" style="position: absolute; top: 0%; right: 0%;" class="btn btn-danger"
      (click)="closeApproveModel()">
      <i class="bi bi-x-circle"></i>
    </button>
  </form>
</div>

<!-- Reject Model -->
<div class="confirm-reject-popup" id="confirmRejectDisplay">
  <form #purchaseForm="ngForm" (ngSubmit)="submitReject()">
    <label style="display: block;">Please confirm your action by typing "REJECT" below: </label>
    <input type="text" style="margin: 2%; width: 82%;" name="confirmation" [(ngModel)]="confirmRejectInput" required>
    <div>
      <button type="submit" class="btn btn-success" style="margin-right: 2%; margin-top: 2%; width: 40%;"
        [disabled]="confirmRejectInput !== 'REJECT'">Confirm REJECT</button>
      <button type="button" class="btn btn-danger" style="width: 40%; margin-top: 2%;"
        (click)="closeRejectModel()">Cancel</button>
    </div>
    <button type="button" style="position: absolute; top: 0%; right: 0%;" class="btn btn-danger"
      (click)="closeRejectModel()">
      <i class="bi bi-x-circle"></i>
    </button>
  </form>
</div>