<div style="margin-top: 2%; margin-left: 2%; margin-right: 2%;">
  <div class="d-flex container" style="margin-bottom: 2%;">
    <input class="form-control" type="number" placeholder="Search" aria-label="Search" [(ngModel)]="search">
    <button type="button" class="btn btn-outline-info ml-3" (click)="searchInvoiceById()">
      <i class="bi bi-search"></i>
      Search By Id
    </button>
    <button type="button" class="btn btn-outline-info ml-3" (click)="getAllInvoice()">
      <i class="bi bi-arrow-clockwise"></i>
    </button>
  </div>
  <div style="min-width: 100%; overflow-x: scroll; max-width: 100vh; width: 100vh;">
    <table class="table mt-10% table-hover table-bordered text-center">
      <thead class="thead-dark">
        <tr>
          <th>#invoiceId</th>
          <th>Invoice-Date</th>
          <th>Inivoice-Due-Date</th>
          <th>patient Name</th>
          <th>patient Address</th>
          <th>Invoice Tax</th>
          <th>Consulting Fees</th>
          <th>Diagnostic test fees</th>
          <th>Diagnostic Scan Fees</th>
          <th>Calculated Amount</th>
          <th>Invoice Status</th>
          <th>Health Care Provider Id</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoiceList" [ngStyle]="{'display': getDisplayActionButton(invoice.invoiceStatus)}">
          <td>{{invoice.invoiceId}}</td>
          <td>{{invoice.invoiceDate}}</td>
          <td>{{invoice.invoiceDueDate}}</td>
          <td>{{invoice.patientName}}</td>
          <td>{{invoice.patientAddress}}</td>
          <td>{{invoice.invoiceTax}}</td>
          <td>{{invoice.consultingFees}}</td>
          <td>{{invoice.diagnosticTestFees}}</td>
          <td>{{invoice.diagnosticScanFees}}</td>
          <td>{{invoice.calculatedAmount}}</td>
          <td [ngStyle]="{'color': getStatusColor(invoice.invoiceStatus)}">{{invoice.invoiceStatus}}</td>
          <td>{{invoice.healthCareProviderId}}</td>
          <td>
            <div [ngStyle]="{'display': getDisplayActionButton(invoice.invoiceStatus)}">
              <button type="button" class="btn btn-info" (click)="toggleChangeStatus(invoice.invoiceId)">
                <i class="bi bi-pencil-square"></i>
                Change Status
              </button>
            </div>
            <div [ngStyle]="{'display': getDisplayActionText(invoice.invoiceStatus)}">
              No Action Required
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="changeStatusModel" class="statusModelDisplay">
    <div>
      select new status
    </div>
    <div style="display: flex; width: 100%; margin-top: 10%;">
      <button class="btn btn-danger" type="button" style="margin-left: auto; margin-right: auto;"
        (click)="rejectInvoiceAction()"> Reject </button>
      <button class="btn btn-success" type="button" style="margin-left: auto; margin-right: auto;"
        (click)="approveInvoiceAction()"> Approve </button>
    </div>
    <button type="button" style="position: absolute; top: 0%; right: 0%;" class="btn btn-danger"
      (click)="toggleChangeStatus(currentInvoiceId)">
      <i class="bi bi-x-circle"></i>
    </button>
  </div>
</div>